In [0]:
from pyspark.sql.functions import isnull
df = spark.createDataFrame([(1, None), (None, 2)], ("a", "b"))
new_df = df.withColumn("r1", isnull("a")).withColumn("r2", isnull("b"))
display(new_df)

In [0]:
df.where(isnull("a")).show()

In [0]:
from pyspark.sql.functions import isnotnull
df = spark.createDataFrame([(1, None), (None, 2)], ("a", "b"))
new_df = df.withColumn("r1", isnotnull("a")).withColumn("r2", isnotnull("b"))
display(new_df)

In [0]:
df.where(isnotnull("a")).show()

## dropna

In [0]:
data = [
    ("Alice", 25, "Engineer", None),
    ("Bob", None, "Analyst", 80000),
    ("Charlie", 30, None, 75000),
    ("David", 28, "Engineer", None),
    (None, None, None, None),
    ("Eve", 22, "Analyst", 60000),
]
columns = ["Name", "Age", "Job", "Salary"]
df = spark.createDataFrame(data, columns)

display(df)

1. Dropping rows with any null value (how='any' - default):

In [0]:
display(df.dropna())

2. Dropping rows where all values are null (how='all'):

In [0]:
display(df.dropna(how="all"))

3. Dropping rows with fewer than a certain number of non-null values (thresh):

In [0]:
display(df.dropna(thresh=4))

In [0]:
display(df.dropna(thresh=4))

In [0]:
display(df.dropna(thresh=2,subset=["Age","Salary"]))

4. Dropping rows based on null values in specific columns (subset):

In [0]:
display(df.dropna(subset=["Age","Salary"]))

In [0]:
display(df.dropna(how = "all", subset=["Age","Salary"]))

5. Use of how along with Threshold

In [0]:
display(df.dropna(how = "all", thresh=2))

In [0]:
display(df.dropna(how = "any", thresh=2))